@(creditForm: Form[(BigDecimal)], debitForm: Form[(String, String)], client: Client, transactions: Seq[Transaction])(implicit flash: Flash)

@import java.text._
@import models.Enums._

    @currency(amount: BigDecimal) = @{
        NumberFormat.getCurrencyInstance.format(amount)
    }

    @date(date: org.joda.time.DateTime) = @{
        new SimpleDateFormat("dd MMM h:MM a").format(date.toDate)
    }

@main {
    <div class="row">
        <div class="col-sm-7">
            <h2>
                @client.name <br/>
                <small>Balance of @currency(client.balance)</small>
            </h2>

            @flash.get("success").map { message =>
                <div class="alert alert-success">
                    <strong>Yay!</strong> @message
                </div>
            }

            <h3>Transactions</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Coffee</th>
                            <th>Milk</th>
                        </tr>
                    </thead>
                    <tbody>
                    @transactions.map { t =>
                        <tr>
                            <td>@date(t.transactionDate)</td>
                            <td>@currency(t.amount)</td>
                            <td>@t.coffeeType</td>
                            <td>@t.milkType</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="well">
                @helper.form(action = routes.Clients.debit(client.id.get), 'class -> "clearfix", 'role -> "form") {
                    <h4>Debit from account</h4>
                    @debitForm.errors.map { error =>
                        <p class="alert alert-danger">
                            @error.message
                        </p>
                    }
                    <div class="form-group">
                        <select id="coffee" name="coffee" class="form-control input-lg">
                        @coffees.map { c =>
                            @if(c.equals(client.coffeeType)) {
                                <option selected value="@c">@c</option>
                            } else {
                                <option value="@c">@c</option>
                            }
                        }
                        </select>
                        <br/>
                        <select id="milk" name="milk" class="form-control input-lg">
                        @milks.map { m =>
                            @if(m.equals(client.milkType)) {
                                <option selected value="@m">@m</option>
                            } else {
                                <option value="@m">@m</option>
                            }
                        }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success pull-right">Debit</button>
                }

                <hr/>

                @helper.form(action = routes.Clients.credit(client.id.get), 'class -> "clearfix", 'role -> "form") {
                    <h4>Credit into account</h4>
                    @creditForm.errors.map { error =>
                        <p class="alert alert-danger">
                            @error.message
                        </p>
                    }
                    <div class="form-group">
                        <label class="sr-only" for="amount">Enter credit amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" placeholder="Enter amount" name="amount" value="25.00" id="amount" class="form-control input-lg">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-warning pull-right">Credit</button>
                }
            </div>
        </div>
    </div>

}
