@(transactionForm: Form[(Option[String], BigDecimal, Boolean)], client: Client, transactions: Seq[Transaction])(implicit flash: Flash, settings: Seq[Setting], indexes: Seq[String])
@import utils.Utils._
@import tags._
@main {
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-9">
                    <h2>
                        @client.name
                        @if(!client.twitter.isEmpty) {
                            <img src="@routes.Assets.at("images/twitter.png")"/>
                            <small>&#64;@client.twitter</small>
                        }
                    </h2>
                </div>
                <div class="col-sm-3">
                    <h2>
                        <a class="btn btn-danger" href="/clients/@client.id/toggle">
                            @if(client.hidden) {
                                Show this client
                            } else {
                                Hide this client
                            }
                        </a>
                    </h2>
                </div>
            </div>

            <h3 class="@balance(client.balance)">Balance of @formatNumber(client.balance)</h3>

            @if(isBirthday(client.dob)) {
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-gift"></span> Today is @client.name's birthday!
                </div>
            }

            @flash.get("success").map { message =>
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok-sign"></span> <strong>Yay!</strong> @message
                </div>
            }

            @flash.get("error").map { message =>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-ok-sign"></span> <strong>Uh oh!</strong> @message
                </div>
            }

            <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Notes</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    @transactions.map { t =>
                        <tr>
                            <td>@formatDateTime(t.transactionDate)</td>
                            @if(t.amount.<(BigDecimal(0))) {
                                <td class="text-danger">@formatNumber(t.amount)</td>
                            } else {
                                <td>@formatNumber(t.amount)</td>
                            }
                            <td>@t.notes</td>
                            <td class="col-sm-3">
                                @helper.form(action = routes.Clients.deleteTransaction(client.id.get, t.id.get), 'class -> "text-right") {
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    <a href="#editModal-@t.id.get" data-toggle="modal" id="edit-customer" class="btn btn-sm btn-warning">
                                        Modify</a>
                                }

                                    <!-- Modal -->
                                <div class="modal fade" id="editModal-@t.id.get" tabindex="-1" role="dialog" aria-labelledby="Edit customer" aria-hidden="true">
                                    <div class="modal-dialog">
                                    @helper.form(action = routes.Clients.editTransaction(client.id.get, t.id.get), 'class -> "modal-content", 'role -> "form", 'id -> "edit-customer-form") {
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Edit customer</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="sr-only" for="amount">Notes</label>
                                                <input type="text" placeholder="Enter customer first and last names" value="@t.notes" name="notes" id="notes" class="form-control" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="amount">Transaction amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-usd"></span>
                                                    </span>
                                                    <input type="number" placeholder="Transaction amount" step="any" name="amount" value="@t.amount" id="amount" class="form-control">
                                                </div>
                                            </div>
                                            <input type="hidden" id="credit" name="credit" value="@t.credit">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    }
                                    </div> <!-- /.modal-dialog -->
                                </div> <!-- /.modal -->
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="transaction">
                                <a href="#" class="add-transaction" data-toggle="collapse" data-target="#transactionForm">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add new transaction
                                </a>
                                @helper.form(action = routes.Clients.transaction(client.id.get), 'class -> "collapse clearfix", 'role -> "form", 'id -> "transactionForm") {
                                    <div class="form-group">
                                        <label class="sr-only" for="notes">Transaction notes</label>
                                        <input type="text" placeholder="Transaction notes" name="notes" id="notes" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="amount">Enter credit amount</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </span>
                                            <input type="number" placeholder="Enter amount" name="amount" id="amount" class="form-control" step="any" autocomplete="off" value="@client.lastTransactionAmount">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-success pull-right">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                    @if(client.balance.>(BigDecimal(3))) {
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="credit" name="credit" value="true">
                                                    This is a credit transaction
                                                </label>
                                            </div>
                                        </div>
                                    } else {
                                        <div>
                                            <span class="text-warning">
                                                You can only add a credit transaction when balance is below A$3.</span>
                                            <input type="hidden" id="credit" name="credit" value="true">
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <h3>Name index</h3>
            <div class="well well-sm">
                <ul class="name-index list-inline">
                @indexes.map { idx =>
                    <li>
                        <a href="/index/@idx" class="btn btn-default btn-lg btn-idx">@idx</a>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>

}
