@(form: Form[(String, String)])(implicit flash: Flash, settings: Seq[Setting])
    @main {
        <div class="row">
            <div class="col-sm-12">

                <h2>Settings</h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @settings.map { s =>
                            @if(!s.key.equals("title") && !s.key.equals("logo")) {
                                <tr>
                                    <td>@s.key</td>
                                    <td>@s.value</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="Add setting" aria-hidden="true">
            <div class="modal-dialog">
            @helper.form(action = routes.Settings.create, 'class -> "modal-content", 'role -> "form") {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add setting</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="sr-only" for="amount">Enter setting key</label>
                        <input type="text" placeholder="Enter setting key" name="key" id="key" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="amount">Enter setting value</label>
                        <input type="text" placeholder="Enter setting value" name="value" id="value" class="form-control" autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save setting</button>
                </div>
            }
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->
    }
